@import "../../variables.scss";
.recent-words {
  width: 50%;
  height: fit-content;
  padding: 10px 0;
  border: $violet 2.5px solid;
  border-radius: 24px;
  position: absolute;
  bottom: 50px;
  left: 170px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 38px;
    margin: 10px 0 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: -20px 0;
    height: 105px;
    &__eng {
      background: rgba(217, 217, 217, 0.38);
      border-radius: 24px;
      color: $black;
      padding: 0 10px;
    }
    &__ukr {
      text-align: end;
    }
  }

  &__more {
    color: #753abb;
    font-size: 29px;
    margin-top: 10px;
    cursor: pointer;
  }
  &__empty {
    font-size: 20px;
    color: $white;
    border: 2px solid $white;
    padding: 5px 15px;
    margin-top: 50px;
  }
  @media screen and (max-width: 1250px) {
    & {
      left: 40%;
      bottom: 50%;
      transform: translate(calc(-50% + 44px), 50%);
    }
  }
  @media screen and (max-width: 710px) {
    & {
      left: 50%;
      transform: translate(-50%, calc(50%));
      position: fixed;
    }
  }
  @media screen and (max-width: 666px) {
    & {
      transform: translate(-50%, calc(50% - 44px)) scale(0.8);
      width: 100%;
    }
  }
  @media screen and (max-width: 540px) {
    & {
      font-size: 30px;
      width: 100%;
      &__title {
        margin-bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 370px) {
    & {
      font-size: 26px;
      width: 100%;
      &__title {
        margin-bottom: 25px;
      }
      &__item {
        margin-bottom: -10px;
      }
    }
  }
}
