@import "../../variables.scss";
.all-words {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(calc(50% + 44px), -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: -10px;
  }
  &__words {
    &__filter {
      font-size: 25px;
      background: rgba(217, 217, 217, 0.35);
      border-radius: 20px 20px 0px 0px;
      width: fit-content;
      padding: 0 10px;
      margin: 0 0 0 30px;
    }
    &__container {
      border: 3px solid $violet;
      border-radius: 30px;
      width: 1195px;
      height: 500px;
      display: grid;
      box-sizing: border-box;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(10, 50px);
      place-items: center;
      &__empty {
        font-size: 25px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
      }
    }
  }
  &__buttons {
    display: flex;
    margin-left: 20px;
    &__item {
      background: rgba(217, 217, 217, 0.35);
      border-radius: 20px;
      padding: 0 15px;
      font-size: 20px;
      margin: 10px 5px 0 0;
      &__selected {
        background: rgba(217, 217, 217, 0.65);
      }
    }
  }
  @media screen and (max-width: 1350px) {
    &__words__container {
      width: 1000px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (max-width: 1150px) {
    &__words__container {
      width: 780px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 950px) {
    &__words__container {
      width: 500px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 50px);
    }
  }
  @media screen and (max-width: 710px) {
    & {
      transform: translate(50%, -50%);
      position: fixed;
      &__title {
        font-size: 50px;
        margin-top: -50px;
      }
      &__words__container {
        width: 500px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 50px);
      }
    }
  }
  @media screen and (max-width: 540px) {
    & {
      &__title {
        margin-top: 10px;
        margin-bottom: -55px;
        font-size: 40px;
      }
      &__words__container {
        height: 650px;
        grid-template-rows: repeat(12, 50px);
      }
      &__words {
        transform: scale(0.8);
      }
    }
  }
  @media screen and (max-width: 425px) {
    &__words__container {
      width: 480px;
    }
  }
  @media screen and (max-width: 408px) {
    &__words__container {
      width: 450px;
      padding: 30px 10px;
    }
  }
}
