.word {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  display: flex;
  align-items: center;
  width: fit-content;
  &__front,
  &__back {
    background: #caa2de;
    border-radius: 30px;
    padding: 0 10px;
    color: black;
    backface-visibility: hidden;
    font-size: 25px;
  }
  &__back {
    transform: rotateY(180deg);
    background: #9f64be;
  }
}

.wordFlip {
  transform: rotateY(180deg);
}
