.results {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 40px;

  &__back {
    width: 735px;
    height: 455px;
    background: linear-gradient(180deg, #f1b2bb 0%, #b081c3 100%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__front {
    width: 610px;
    height: 380px;
    background: rgba(250, 249, 245, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41.641px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
  }
  &__result {
    width: 280px;
    height: 66px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: #a672c2;
    border-radius: 26px;
  }
  &__score {
    display: flex;
    justify-content: space-between;
    color: black;
    width: 90%;
    position: relative;
    margin: -40px 0 20px;
    &__right span {
      color: #f75050;
    }
    &__total {
      position: absolute;
      right: 0;
      bottom: 1px;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  &__buttons {
    display: flex;
    width: 88%;
    justify-content: space-between;
    &__button {
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      &:active {
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
        transform: translateY(2px);
      }
    }
  }

  &__star {
    position: absolute;
    top: -83px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
  }
  &__star:nth-child(2) {
    left: calc(50% - 130px);
    top: -75px;
    transform: rotate(-15deg);
    z-index: 1;
  }
  &__star:nth-child(3) {
    left: calc(50% - 205px);
    top: -70px;
    transform: rotate(-20deg);
    z-index: 0;
  }
  &__star:nth-child(4) {
    left: calc(50% + 10px);
    top: -75px;
    transform: rotate(15deg);
    z-index: 1;
  }
  &__star:nth-child(5) {
    left: calc(50% + 85px);
    top: -70px;
    transform: rotate(20deg);
    z-index: 0;
  }
}
