.app {
  width: 100vw;
  position: relative;
  background-image: url("../images/backgrounds/background1.png");
  background-position: center;
  background-size: 100vw calc(100vh * 2.5);
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}
