@import "../../variables.scss";
.level-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 32px;
  color: $black;
  text-align: center;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__word {
    border-radius: 30px;
    width: 217px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
  }
  &__long {
    font-size: 25px;
  }
  &__wrong {
    background: rgba(255, 69, 69, 0.38);
  }
  &__correct-option {
    color: white;
    margin: 75px 0;
    & span {
      text-transform: uppercase;
    }
  }
  &__right {
    background: rgba(165, 255, 109, 0.38);
  }
}
