.settings {
  background-color: rgba(217, 217, 217, 0.1);
  width: 84%;
  height: calc(100vh - 100px);
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(calc(50% + 44px), -50%);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__sound {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &__exit {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    &__name {
      margin-right: 20px;
      color: #753abb;
      font-size: 36px;
    }
  }
  &__lang {
    text-align: center;
    font-size: 32px;
    margin-top: -80px;
    &__name {
      margin-bottom: 10px;
    }
    &__flag {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 510px;

      &__img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
      }
    }
  }
  @media screen and (max-width: 850px) {
    & {
      transform: translate(calc(50% + 44px), -50%) scale(0.9);
    }
  }
  @media screen and (max-width: 710px) {
    & {
      position: fixed;
      transform: translate(50%, -52%) scale(0.9);
      background-color: transparent;
    }
    &__sound {
      left: -50px;
      top: -30px;
    }
    &__exit {
      top: -50px;
      right: -50px;
    }
  }
  @media screen and (max-width: 500px) {
    &__lang__flag {
      justify-content: center;
      position: relative;
      & img:nth-child(1) {
        position: absolute;
        bottom: -50px;
        left: 90px;
      }
      & img:nth-child(3) {
        position: absolute;
        bottom: -48px;
        right: 95px;
      }
    }
  }
}
